a:link{
    text-decoration: none;
}
.cursorPointer{
    cursor:pointer;
}
.btn{
    border:0;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    }
}
.btn-primary{
    background:#106ebe;
}
.btn-rounded{
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.s-alert-box{
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    .s-alert-box-inner{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}