.section-ingreso{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background:#fff;
    @media (max-width:500px){
        height: 100%;
    }
    .content-form-ingreso{
        width: 40%;
        flex-direction: column;
        text-align: center;
        margin-top: -4%;
        @media (max-width:500px){
            padding-top: 60%;
            width: 90%;
            margin-top: -30%;
        }
        .content-logo{
            //background-color: blue;
            width: 30%;
            padding-top: 30%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin: auto;
            @media (max-width:500px){
                width: 50%;
                padding-top: 50%;
            }
        }
        .content-hora{
            font-size: 55px;
            font-weight: bold;
            @media (max-width:500px){
                font-size: 8vw;
            }
        }
        .content-fecha{
            font-size: 40px;
            @media (max-width:500px){
                font-size: 6vw;
            }
        }
        .content-formulario{
            .form-control{
                border:0;
                border-radius: 2px;
                box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
                font-size: 17px;
                &:focus{
                    box-shadow: 0 8px 16px 0 rgba(136,152,170,.1);
                }
                &:hover{
                    box-shadow: 0 8px 16px 0 rgba(136,152,170,.1);
                }
            }
            .btn{
                font-size: 17px;
                background: #00c6ff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to left, #00d4ff, #00a8e7 );  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to left, #00d4ff, #00a8e7 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        }
    }
}

.s-alert-close {
    pointer-events: all;
}
.s-alert-box{
    margin-top: -100px;
}