.section-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .position-form{
        width: 30%;
        @media (max-width:500px){
            width: 95%;
        }
        .card{
            box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
            border:0;
            background:#f7fafc;
            border-radius: .375rem;
            @media (max-width:500px){
                box-shadow: unset;
                background: transparent;
            }
            .card-body{
                padding:4rem;
                @media (max-width:500px){
                    padding:2.5rem;
                }
                .input-group-text{
                    border: 0;
                    box-shadow: none;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    display: flex;
                    margin-bottom: 0;
                    padding: .625rem .75rem;
                    text-align: center;
                    white-space: nowrap;
                    color: #adb5bd;
                    border-radius: .375rem;
                    background-color: #fff;
                    align-items: center;
                }
                .input-group-alternative{
                    transition: box-shadow .15s ease;
                    border: 0;
                    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
                }
                .btn-primary{
                    @media (max-width:500px){
                        display: block;
                        width: 100%;
                    }
                }
                .form-control{
                    border:0;
                    background: #fff;
                    height: auto;
                    color: #8898aa;
                    font-size: .875rem;
                    height: calc(2.75rem + 2px);
                    padding: .625rem .75rem;
                    background-clip: padding-box;
                    &::placeholder{
                        color: #adb5bd;
                    }
                    &:focus{
                        box-shadow: unset;
                    }
                }
                .custom-control{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    .custom-control-label{
                        &:before{
                            margin-top: -2px;
                            border: 0;
                            border-radius: .25rem;
                            transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
                            width: 1.25rem;
                            height: 1.25rem;
                            //border: 1px solid #cad1d7;
                            box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
                        }
                        &:after{
                            margin-top: -2px;
                            position: absolute;
                            display: block;
                            width: 1.25rem;
                            height: 1.25rem;
                            content: '';
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 50% 50%;
                        }
                    }
                }
            }
        }
    }
}

.btn-primary{
    height: calc(2.75rem + 2px);
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d4ff, #00a8e7 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d4ff, #00a8e7 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}