@import "./assets/css/dashboard.scss";
@import "./assets/css/slider.scss";
@import "./assets/css/all.scss";
@import "./assets/css/ingreso.scss";
@import "./assets/css/login.scss";
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ul{
        margin-block-start: unset;
        margin-block-end: unset;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: unset;
    }  
    span{
        pointer-events: none;
    }  
    outline:none;
}
html,body{
    margin:0;
    padding:0;
    outline: none;
    background: #f8f9fe;
}